form {
  margin-left: auto;
  padding: 10px;
}

h1 {
  font-size: 25px;
}
ul {
  list-style: none;
  color: gray;
}
span.sky {
  color: gray;
}
#temp {
  font-size: 20px;
  float: left;
}
.content {
  margin-left: 15px;
}
.container {
  margin-top: 40px;
  margin-left: 10px;
}

.weather-app-wrapper {
  margin: 20px;
  max-width: 900px;
}
.weather-app {
  border: 1px solid;
  border-color: #bdbdbd;
  padding: 15px;
  border-radius: 20px;
}

.firstemoji {
  font-size: 40px;
}
.secondemoji {
  font-size: 30px;
}
.thirdemoji {
  font-size: 30px;
}

.fourthemoji {
  font-size: 30px;
}
.fifthemoji {
  font-size: 30px;
}
.sixthemoji {
  font-size: 30px;
}
